{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static 'scrumboard/css/scrumboard.css' %}">
	
</head>

<body ng-app="scrumboard.demo">
	<!--Angular view injection -->
	<ng-view></ng-view>



		<!--AngularJS CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

		<!--AngularJS route module -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>


	<!-- django import static -->
	<script src="{% static 'scrumboard/scrumboard.js' %}"></script>

	<!-- django import static login controller -->
	<script src="{% static 'scrumboard/js/login.controller.js' %}"></script>

	<!-- import app config scripting: Tells angular about django's CSRF -->
	<script src="{% static 'scrumboard/scrumboard.config.js' %}"></script>

	<!--Import login service from static files -->
	<script src="{% static 'scrumboard/js/login.service.js' %}"></script>

	<!-- Import angular directives from django file structure-->
		<!--Load after the angular module -->
	<script src="{% static 'scrumboard/card.directive.js' %}"></script>


</body>
</html>